In [1]:
#01. write a program to add and subtract two numbers 
n= int(input())
n2= int(input())
print(n+n2)
print(n-n2)
print(n2-n)

14
-2
2

In [ ]:
#02.  write a program to multiply and divide two number and print them in the from of equation(4*3=12, 8/4=2)
a = int(input())
b = int(input())
c = a*b
d = int(a/b)
print(str(a)+"*"+str(b)+"="+str(c))
print(str(a)+"/"+str(b)+"="+str(d))

12*3=36
12/3=4

In [ ]:
#03. write a program to fine the sqare and cube of a give number 
a = int(input())
print(a**2)
print(a**3
      )

36
216

In [ ]:
#04. write a program to fine the square root of a given number 
a = int(input())
print(a*0.5)

4.0

In [ ]:
#05. write a program to fine the area and perimeter of a square 
a = int(input())
print(a**2)
print(4*a)

25
20

In [ ]:

#06. write a program to fine the area and circumference of a circle
r = int(input())
print(r**2*(3.14))
print(2*3.14*r)

50.24
25.12

In [ ]:
#07. write a program to fine the area of the sheper
r = int(input())
b = r**2
print(4*3.14*b)

452.16

In [ ]:
#08. write a program to fine the volume of cylinder 
r = int(input())
h = int(input())
c = r**2
print(4*3.14*c*h)

803.84

In [ ]:
#09 print age in days
n=int(input())
c=365
d=c%4
print(c*n+d)

9856

In [ ]:
#10 simple intrest and compound intrest 
p=int(input())
r=int(input())
t=int(input())
print(p*r*t/100)

86.4

In [ ]:
#11 mechanical engery 
m=int(input())
h=int(input())
v=int(input())
g=9.18
r=(m*h*g)+1/2*m*(v**2)
print(r)

724.96

In [ ]:
#12 convert hours-minutes-seconds
seconds = int(input())
minutes=seconds//60
seconds=seconds%60
hours= minutes//60
minutes=minutes%60
print(str(hours)+"H "+str(minutes)+"min "+str(seconds)+"Sec")

23H 42min 54Sec

In [ ]:
#13 profit and loss 
n= int(input())
s1= int(input())
add= n%4
s2=n+add 
s3=s2*4.15
if s1<s2:
    print("profit")
else:
    print("Loss")

profit

In [ ]:
a = int(input())
for i in range(0,a+1):
    for j in range(0,a-i):
        print(a-i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [33]:
_str=\
'''
MongoDB is a document-oriented, 
operational database built from the ground up 
as an alternative to the relational database for modern applications. 
Unlike relational databases, MongoDB allows developers to store rich 
JSON-like documents that map naturally to the objects they use in their 
code:
'''
new_str=''
line_count=0
for _chr in _str:
    if _chr != "\n":
        new_str += _chr
    else:
        line_count+=1
        print(str(line_count)+". "+new_str.strip(" ,")+" .")
        new_str=" "

1.  .
2. MongoDB is a document-oriented .
3. operational database built from the ground up .
4. as an alternative to the relational database for modern applications. .
5. Unlike relational databases, MongoDB allows developers to store rich .
6. JSON-like documents that map naturally to the objects they use in their  .
7. code: .

In [ ]:
_str=\
'''
MongoDB is a document-oriented, 
operational database built from the ground up 
as an alternative to the relational database for modern applications. 
Unlike relational databases, MongoDB allows developers to store rich 
JSON-like documents that map naturally to the objects they use in their 
code:
'''
new_str=" "
for _ind, line in enumerate(_str.splitlines()):
    new_str += line.strip((str(_ind+1))+". ")
new_str+"."

' MongoDB is a document-oriented,operational database built from the ground upas an alternative to the relational database for modern applicationsUnlike relational databases, MongoDB allows developers to store richJSON-like documents that map naturally to the objects they use in their\xa0code:.'

In [47]:
list_of_numbers =\
[0, 2, 3, 4, 5, 6, 7, 8, 9, [12, 34, 45, [12, 54, [100, 101]]],10, 11, 12, 12, 91]
list_of_numbers.index(12)

12

In [48]:
list_of_numbers =\
[0, 2, 3, 4, 5, 6, 7, 8, 9, [12, 34, 45, [12, 54, [100, 101]]],10, 11, 12, 12, 91]
target_list = list_of_numbers[9][3]

target_list.remove(54)

print(list_of_numbers)

[0, 2, 3, 4, 5, 6, 7, 8, 9, [12, 34, 45, [12, [100, 101]]], 10, 11, 12, 12, 91]

In [59]:
list_of_numbers =\
[0, 2, 3, 4, 5, 6, 7, 8, 9, [12, 34, 45, [12, [100, 101]]], 10, 11, 12, 12, 91]
target_list = list_of_numbers[9][3]

target_list.insert(1,2222)

print(list_of_numbers)

[0, 2, 3, 4, 5, 6, 7, 8, 9, [12, 34, 45, [12, 2222, [100, 101]]], 10, 11, 12, 12, 91]

In [62]:
n=int(input())
m=int(input())
num_eve=[]
num_1_odd=[]
for i in range(n,m+1):
    if i%2==0:
        num_eve.append(i)
    else:
        num_1_odd.append(i)
print(num)
print(num_1)

[2, 4, 6, 8, 10]
[3, 5, 7, 9]

In [63]:
n=int(input())
m=int(input())
num_eve=[]
num_1_odd=[]
for i in range(n,m+1):
    if i%2==0 and i%3==0:
        num_eve.append(i)
    else:
        if i%3==0:
            num_1_odd.append(i)
        
print(num_eve)
print(num_1_odd)

[6, 12]
[3, 9, 15]

In [69]:
n=int(input())
m=int(input())
num_eve=[]
num_1_odd=[]
for i in range(n,m+1):
    if i%2==0  and 2%i !=0:
        num_eve.append(i)
    else:
        if 2%i !=0:
            num_1_odd.append(i)
        
print(num_eve)
print(num_1_odd)

[4, 6, 8, 10, 12, 14, 16, 18]
[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [70]:
n=int(input())
m=int(input())
num_eve=[]
num_1_odd=[]
for i in range(n,m+1):
    if i%2==0  and 2%i !=0 and i%3==0:
        num_eve.append(i)
    else:
        if 2%i !=0 and i%3==0:
            num_1_odd.append(i)
        
print(num_eve)
print(num_1_odd)

[6, 12, 18, 24]
[3, 9, 15, 21, 27]

In [8]:
i=1
list_of_name=[]

while i>0:
    swe=input()
    if swe.isalpha() :
        list_of_name.append(swe)
        
    else:
        break
    i=i=1
print(list_of_name)

['ram', 'swetha', 'sunny']

In [13]:
n=int(input())
emp_rece =[] 
for rem in range(n):
    id= int(input())
    name=str(input())
    age=int(input())
    salary=float(input())
    emp_rece.append((id,name,age,salary))
emp_rece

[(6543, 'ram', 26, 37500.0), (23456, 'sunny', 23, 35000.0)]

In [33]:
n=int(input())
sum=[]
a=0 
b=1
for i  in range(0,n+1):
    sum.append(a)
    a,b=b,a+b 
print(tuple(sum))

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144)

In [2]:
n=int(input())
sum=[]
a=0 
b=1
for i  in range(0,n+1):
    a,b=b,a+b
    if a%2 == 0:
        sum.append(a)
    
print(tuple(sum))

(2, 8, 34, 144, 610, 2584)

In [5]:
m = int(input())
n = int(input())

count = 0
sum = 0

for i in range(m,n+1):
    while i!=0:
        d = i%10
        i//=10
        count+=1
sum += count 
print(sum)

32

In [7]:
n = int(input())
for i in range(1,n+1):
    print(2 * (n-i) * " "+ (chr(64+i) + ' ') * i+ 2 * (n-i) * " "+ (chr(96+i) + ' ') *i)

            A             a
          B B           b b
        C C C         c c c
      D D D D       d d d d
    E E E E E     e e e e e
  F F F F F F   f f f f f f
G G G G G G G g g g g g g g

In [25]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(2*(n-i)*"  "+(str(i)+" ")*i)
    print()

1                 1

1 2             2 2

1 2 3         3 3 3

1 2 3 4     4 4 4 4

1 2 3 4 5 5 5 5 5 5

In [8]:
str_list=['1', '2', '32', '45.5', '6565', '12.66']
index_a= []
for i in  str_list :
    s=float(i)
    index_a.append(round(s))
print(index_a)
print(type(index_a))

[1, 2, 32, 46, 6565, 13]
<class 'list'>

In [45]:
lower_limit = int(input())
upper_limit = int(input())
primes_list = []
for i in range(lower_limit+1,upper_limit):
    for j in range(2,i):
        if i % j == 0:
            break 
    else:
        primes_list.append(i)
#print(primes_list)


#print("")
_count = 0

for i in range(len(primes_list)):
    if _count < len(primes_list):
        for j in range(i + 1):
            if _count < len(primes_list):
                print(primes_list[_count],end = " ")
            else:
                 print("#",end = " ")
            _count += 1
        print()

3
5 7
11 13 17
19 23 29 31
37 # # # #

In [ ]:
n = int(input())
list_a = []
for i in range(1,n+1):
    _id,name,age,salary=input().split(",")

    list_a.append([id, name,age])
print(list_a)

ValueError: not enough values to unpack (expected 4, got 1)

In [31]:
emp_rece=[(1, 'Nick', 23, 45000.0),

(2, 'Nick Jr.', 63, 245000.0),
(3, 'Nick Sr.', 53, 145000.0),
(4, 'Dan', 23, 45000.0),
(5, 'Steve',23,46000.0)]
 
sorted(emp_rece, key=lambda x:x[3])
sorted(emp_rece, key=lambda x:x[3],reverse=True)

[(2, 'Nick Jr.', 63, 245000.0),
 (3, 'Nick Sr.', 53, 145000.0),
 (5, 'Steve', 23, 46000.0),
 (1, 'Nick', 23, 45000.0),
 (4, 'Dan', 23, 45000.0)]

In [32]:
emp_rece=[(1, 'Nick', 23, 45000.0),

(2, 'Nick Jr.', 63, 245000.0),
(3, 'Nick Sr.', 53, 145000.0),
(4, 'Dan', 23, 45000.0),
(5, 'Steve',23,46000.0)]
 
sorted(emp_rece, key=lambda x:x[3])
sorted(emp_rece, key=lambda x:x[3],reverse=True)
max(emp_rece, key=lambda x:x[-1])[1]
min(emp_rece, key=lambda x:x[-1])[1]

'Nick'

In [1]:
emp_rece=[(1, 'Nick', 23, 45000.0),

(2, 'Nick Jr.', 63, 245000.0),
(3, 'Nick Sr.', 53, 45000.0),
(4, 'Dan', 23, 45000.0),
(5, 'Steve',23,46000.0)]

sorted(emp_rece, key=lambda x:x[3])
sorted(emp_rece, key=lambda x:x[3],reverse=True)
#max(emp_rece, key=lambda x:x[-1])[1]
#min(emp_rece, key=lambda x:x[-1])[1]
_max=max(emp_rece, key=lambda x:x[-1])[-1]
_min=min(emp_rece, key=lambda x:x[-1])[-1] 
for i in emp_rece:
    if i[-1] == _max:
        print(i[1])
for i in emp_rece:
    if i[-1] == _min:
        print(i[1])

Nick Jr.
Nick
Nick Sr.
Dan

In [26]:
emp_rec = [(1, 'Nick $$#  Jr.', 23, '45000.0$'), 
            (2, 'Nick Jr.', 63, '245000.0&&'),
            (3, 'Nick Sr.', 53, 145000.0), 
            (4, 'Dan  ^^', 23, '45000.0'), 
            (5, 'Steve',23,46000.0)] 
emp_reces =()
unwanted = " ".join([chr(i)for i in range(32, 32+15)]+[chr(i) for i in range(32+26,32+26+7)]+["^"])
"23400.0$%%$$$$$".strip(unwanted)

'23400.0'

In [ ]:
emp_rec = [(1, 'Nick $$#  Jr.', 23, '45000.0$'), 
            (2, 'Nick Jr.', 63, '245000.0&&'),
            (3, 'Nick Sr.', 53, 145000.0), 
            (4, 'Dan  ^^', 23, '45000.0'), 
            (5, 'Steve',23,46000.0)] 
emp_reces =()
unwanted = " ".join([chr(i)for i in range(32, 32+15)]+[chr(i) for i in range(32+26,32+26+7)]+["^"])
"23400.0$%%$$$$$".strip(unwanted)

TypeError: '<' not supported between instances of 'str' and 'float'